body{
    margin: 0;
    background-color: lightcyan;
    /* covering the whole page*/
    min-height: 100vh;
    display: flex;

    /*center the items horizontally*/
    justify-content: center;

    /* center the items vertically*/
    align-items: center;
    font-family: monospace;
    color: darkgreen;

}

.container{
    border-radius: 10px;
    background: rgb(255,255,255, .3);
    padding: 20px;
    box-shadow: 0 8px 10px rgb(0,0,0, .3);
    text-align: center;
    width: 85%;
    max-width: 400px;
    font-size: 20px;

}

.heading{
    margin: 5px;
    font-size: 30px;
}

.ratings-container{
    display: flex;
    padding: 20px 0;
}    

.rating{
    cursor: pointer;
    padding: 10px;
    margin: 10px 5px;
}



.rating img{
    width: 40px;
    height: 40px;
}

.rating:hover, 
.rating.active{
background: darkseagreen;
box-shadow: 0 8px 10px rgb(0,0,0, .3);
color: aliceblue;
/*animation effect for the the rules, all applies to all with this hover rules, 300ms for when the animation is finished, 
ease is for how the animation looks which is faded color gets stronger and stronger color*/
transition: all 300ms ease;
border-radius: 10px;

}

.btn{
    padding: 12px 30px;
    margin: 10px;
    border-radius: 4px;
    cursor: pointer;
    background-color: darkcyan;
    color: aliceblue;
    border: 0;
}

.btn:hover{
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
    transition: all 300ms ease;
}

.btn:active{
    /*changes the size of the button to 96% of original size*/
    transform: scale(.96);
}



